@model LibraryInformationSystem.Models.Admin

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Admin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdminName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Create_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Create_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Update_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Update_Time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdminID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
